h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", Arial, serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #faf0e6;
  overflow: hidden;
}

.container {
  height: 100%;
  width: 100%;
  display: inline-block;
}

h1 {
  color: #332624;
}

.title1 {
  font-size: 236px;
  line-height: 150px;
  letter-spacing: -9px;
  padding-left: 20px;
  animation-name: animation-title1;
  animation-duration: 0.6s;
}

@keyframes animation-title1 {
  0% {
    transform: translateX(-120%);
  }

  100% {
    transform: translateX(0);
  }
}

.title2 {
  font-size: 235px;
  text-indent: -2px;
  line-height: 110px;
  letter-spacing: -9px;
  padding-left: 600px;
  animation-name: animation-title2;
  animation-duration: 0.4s;
  animation-delay: 1s;
  animation-fill-mode: backwards;
}

@keyframes animation-title2 {
  0% {
    transform: translateX(120%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

button {
border: 6px black;
border-radius: 55px;
padding: 2rem 4rem;
margin-top: -230px;
margin-left: 1250px;
text-align: center;
font-size: 2.5rem;
font-weight: 700;
cursor: pointer;
display: flex;
background-color: #ccb6b4;

animation-name: button;
animation-duration: 0.4s;
animation-delay: 2s;
animation-fill-mode: backwards;
outline: none;

-webkit-animation: breathing 5s ease-out infinite normal;
animation: breathing 5s ease-out infinite normal;
-webkit-font-smoothing: antialiased;
}

button:hover {
box-shadow: 0 1px 30px #8c7e7b;
}

*, *:after, *:before {
box-sizing: border-box;
}

@keyframes button {
  0% {
    transform: translateX(120%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}
