body {
background-color: #eddfe4;
}

img {
  position: relative;
  padding-left: 180px;
  width: 370px;
  height: auto;
}

img.popcat {
  display: flex;
  width: 300px;
  height: auto;
}

img.cat_shock {
  margin: 0 auto;
  display: flex;
  width: 300px;
  height: auto;
  padding-top: 4%;
}

img.longcat {
  float: right;
  width: 300px;
  height: auto;
  padding-top: 4%;
}
